$blue:#0024B3;
$secondryBlue:#0b38ee;

a
{
    text-decoration: none;
    text-decoration-color: none;
    color: #fff;
}
.free
{
    background-color:$secondryBlue;
    padding: 10px;
    color: #fff;
}
.play-now
{
    background-color: $secondryBlue;
    color: #fff;
    width: 70%;
    padding: 10px ;
}
